* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url(../img/background.jpg) !important;
    background-size: cover;
}

#container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90vh;  
}

.box-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(128, 128, 128, 0.541);
}

.box-header h1 {
    color: #fff;
}

.input-task > input  {
    padding: 5px;
    height: 30px;
    outline: none;
    border-radius: 5px;
}

.input-task .okTask {
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background: #f78b48d2;
    color: #fff;
    border: 1px solid #f78b48;
}

#box-list {
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.541);
    border-radius: 10px 0 0 10px;
    max-height: 350px;
    overflow-y: scroll;
    scrollbar-color: red;
}

#box-list h2{
    margin-bottom: 10px;
    color: #fff;
}

#container-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #ffffff7e;
    border-radius: 5px;
}

.task .remove {
    padding: 6px 8px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 100px;
    background: #F2C7E6;
    color: #fff;
}

.task .edit {
    padding: 6px 8px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 100px;
    background: #c7d2f2;
    color: #fff;
}

.task .check {
    padding: 6px 8px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 100px;
    background: #BDE4A6;
    color: #fff;
}

.task .check:hover {
    color: #83BE68;
    transition: all .3s;
}

.task .remove:hover {
    color: #A12869;
    transition: all .3s;
    
}

.task .edit:hover {
    color: #6875be;
    transition: all .3s;
}

.buttons {
    display: flex;
    gap: 10px;
}

.completed {
    text-decoration: line-through;
    background: #93f8589d !important;
    transition: all .3s;
}

.edit {
    background: #58c5f89d !important;
    transition: all .3s;
}

.new-task {
    transition: all .3s ease-in-out;
}


@media (max-width: 712px) {
    #container {
        width: 90%;
    }
}
